@import "./components/start";
@import "./components/left-menu";
@import "./components/maintenance";
@import "./components/overlay";

.overlay {
  &__mantenimient {
    margin-top: 2em;
    grid-column: 1/3;
    width: 90%;
  }

  &__frecuenci {
    grid-column: 3/4;
    margin-top: 2em;
    width: 100%;
  }

  &__submit {
    margin-top: 4.5em;
  }
}
